@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");

@-webkit-keyframes appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}
@keyframes appear {
  from {
    opacity: 0%;
  }
  to {
    opacity: 100%;
  }
}

#name {
  font-family: "Dosis", sans-serif;
  margin-bottom: 2rem;
  position: relative;
  top: -60px;
  font-weight: 100;
  padding-bottom: 10px;
  padding-left: 0px;
  border-top: 2px rgb(245, 245, 116) solid;
  border-left: 2px yellow solid;
  border-right: 2px yellow solid;
  border-bottom: 2px yellow solid;
  margin-top: 10%;
  margin-bottom: 15vh;
}

.Jayansh {
  border-top: 2px rgb(245, 245, 116) solid;
  border-left: 2px yellow solid;
  border-right: 2px yellow solid;
  padding-left: 20px;
  padding-right: 20px;
  -webkit-animation-name: appear 10s;
  animation-name: appear;
  animation-duration: 10s;
}

.Bhartiya {
  border-left: 2px yellow solid;
  border-right: 2px yellow solid;
  border-bottom: 2px yellow solid;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
  -webkit-animation-name: appear 6s;
  animation-name: appear;
  animation-duration: 6s;
}

.graySidebar {
  background-color: #373737;
  min-height: 100vh;
  height: 100%;
  color: white;
  position: fixed !important;
  z-index: 2;
}

.graySidebar img {
  border-spacing: 5px;
  box-shadow: black;
  border-radius: 50%;
  -webkit-animation-name: appear 4s;
  animation-name: appear;
  animation-duration: 4s;
}

.social-links {
  -webkit-animation-name: appear 5s;
  animation-name: appear;
  animation-duration: 5s;
}

.navigation {
  -webkit-animation-name: appear 6s;
  animation-name: appear;
  animation-duration: 6s;
}

.whiteCarryover {
  background-color: #2e2e2e;
  color: white;
  margin-left: auto;
}

.whiteCarryover div h1 {
  font-size: 60px;
  -webkit-animation-name: appear 4s;
  animation-name: appear;
  animation-duration: 4s;
}

.introhead {
  border-bottom: yellow solid 2px;
  transition: appear;
  transition-duration: 4s;
}

.hey {
  -webkit-animation-name: appear 4s;
  animation-name: appear;
  animation-duration: 4s;
}

.swe {
  -webkit-animation-name: appear 6s;
  animation-name: appear;
  animation-duration: 6s;
}

.short-intro,
.short-intro-bio {
  -webkit-animation-name: appear 8s;
  animation-name: appear;
  animation-duration: 8s;
}

.summer,
.summer-bio {
  -webkit-animation-name: appear 9s;
  animation-name: appear;
  animation-duration: 9s;
}
.aboutMe,
.aboutMeBio {
  -webkit-animation-name: appear 10s;
  animation-name: appear;
  animation-duration: 10s;
}
ul li a {
  color: white;
  font-size: 1.2em;
}

ul li a:hover {
  color: yellow;
  transition: color 1s;
}
ul {
  margin: 0px;
  padding: 0px;
  text-align: center;
}

ul li {
  display: inline-block;
  margin: 3% 3% 0 3%;
  padding: 0px;
  opacity: 0.85;
}

#navigation li a {
  text-decoration: none;
}

.home-auto .whiteCarryover{
  height: auto !important;
}


@media (max-width: 1200px) {
  .graySidebar {
    min-height: 100vh;
    height: 100%;
    position: static !important;
    z-index: 2;
  }
  .whiteCarryover {
    margin-left: 0px;
    width: 100vh;
  }
}


@media (max-width: 480px) {
  .graySidebar{
    min-height: auto;
    padding-bottom: 20px;
  }
  .graySidebar.justify-content-between{
    justify-content: normal !important;
  }
  .navigation {
    display: none;
  }
}