@keyframes appear {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes appear {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes appear {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes appear {
    from { opacity: 0; }
    to   { opacity: 1; }
}


#projectHead {
  -webkit-animation-name: appear 1s;
  animation-name: appear;
  animation-duration: 1s;
}

#projectIntro {
  -webkit-animation-name: appear 3s;
  animation-name: appear;
  animation-duration: 3s;
}

#challengesHead {
  -webkit-animation-name: appear 5s;
  animation-name: appear;
  animation-duration: 5s;
}

#challengesBio {
  -webkit-animation-name: appear 7s;
  animation-name: appear;
  animation-duration: 7s;
}

#learningHead {
  -webkit-animation-name: appear 9s;
  animation-name: appear;
  animation-duration: 9s;
}

#learningBio {
  -webkit-animation-name: appear 11s;
  animation-name: appear;
  animation-duration: 11s;
}
#goalsHead {
  -webkit-animation-name: appear 13s;
  animation-name: appear;
  animation-duration: 13s;
}

#goalsBio {
  -webkit-animation-name: appear 15s;
  animation-name: appear;
  animation-duration: 15s;
}

#techHead {
  -webkit-animation-name: appear 15.5s;
  animation-name: appear;
  animation-duration: 15.5s;
}

#techBio {
  -webkit-animation-name: appear 16.5s;
  animation-name: appear;
  animation-duration: 16.5s;
}
#backButton {
  -webkit-animation-name: appear 17s;
  animation-name: appear;
  animation-duration: 17s;
}

#knowButton {
  -webkit-animation-name: appear 18s;
  animation-name: appear;
  animation-duration: 18s;
}
